<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看用户信息</title>
    <link href="/image/css/bootstrap.css" rel="stylesheet">
    <script  src="/image/jquery-3.3.1.js"></script>
    <script src="/image/js/bootstrap.js" ></script>
    <script>
        function build(data){


        }

        window.onload = function (ev) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET","/api/queryStudent",true);
            xmlhttp.send();
            var data = null;
            xmlhttp.onreadystatechange = function (ev1) {
                if( xmlhttp.status == 200 && xmlhttp.readyState == 4){
                    data = $.parseJSON(xmlhttp.responseText).data.content;
                    for(var i = 0 ; i < data.length ; i ++){
                            console.log(data[i]);
                    }

                }

            }





        }



    </script>

</head>
<body>
<nav class="navbar navbar-default" role="navigation" id="nav">
    <!--<div class="container-fluid">-->
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Travel</a>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a href="/create" >create</a>
        </li>
        <li role="presentation">
            <a href="/manage">manage</a>
        </li>
        <li role="presentation">
            <a href="/verifying" >verfying</a>
        </li>
        <li role="presentation">
            <a href="/viewuser" >viewuser</a>
        </li>

    </ul>
    </div>
</nav>
<table class="table table-bordered" id="table">
    <tr >
        <td ></td>
        <td>king</td>
        <td>pd</td>
    </tr>
    <tr >
        <td><img  src="/image/1_lulu@qq.com.jpg" width="10" height="10"></td>
        <td>king</td>
        <td>pd</td>
    </tr>

</table>

</body>
</html>